@model Project.MVC.ViewModels.VehicleModelView


<form asp-action="Create">
    <label for="MakeId">Izaberite marku:</label>
    <select asp-for="Modell.MakeId" asp-items='new SelectList(Model.Makes, "Id", "Name")' class="form-select">
        <option value="">Izaberite marku</option>
    </select>
    <div class="form-group">
        <label asp-for="Modell.Name"></label>
        <input asp-for="Modell.Name" class="form-control" />
        <span asp-validation-for="Modell.Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Modell.Abrv"></label>
        <input asp-for="Modell.Abrv" class="form-control" />
        <span asp-validation-for="Modell.Abrv" class="text-danger"></span>
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Create</button>
</form>