@model Project.MVC.ViewModels.VehicleModelView

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="modell.Id" />

    <label for="MakeId">Izaberite marku:</label>
    <select asp-for="modell.MakeId" asp-items='new SelectList(Model.Makes, "Id", "Name")' class="form-select">
        <option value="">Izaberite marku</option>
    </select>
    <div class="form-group">
     
        <label asp-for="modell.Name"></label>
        <input asp-for="modell.Name" class="form-control" />
        <span asp-validation-for="modell.Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="modell.Abrv"></label>
        <input asp-for="modell.Abrv" class="form-control" />
        <span asp-validation-for="modell.Abrv" class="text-danger"></span>
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Save changes</button>
</form>